target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

WTask-nukkit.iml
.idea
src/test/
my.cc
my.cc

target/classes/plugin.yml

target/classes/plugin.yml

.idea/artifacts/WTask_debug.xml
